@page "/fetchdata"
@using Downloader.Blazor.Shared
@using LeaderAnalytics.Vyntix.Fred.Model;
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
    <button @onclick="GetObservations" value="Get Observations">Get Observations</button>
}

@code {
    private WeatherForecast[] forecasts;
    private Observation[] observations;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }

    private async Task GetObservations()
    {
        observations = await Http.GetFromJsonAsync<Observation[]>("DownloaderServices/GetObservations/NROU");
    }

}
